In [1]:
import lineapy.ipython
lineapy.ipython.start(execution_mode=lineapy.ExecutionMode.DEV)

In [2]:
import lineapy

In [3]:
# NBVAL_IGNORE_OUTPUT

cat = lineapy.catalog()
cat

neighbothood_area_mean, 2021-11-03 17:12:25.970050
neighbor_area_sum, 2021-11-03 17:14:49.260806

In [4]:
neighbor_area_art = lineapy.get("neighbothood_area_mean")

In [5]:
print(neighbor_area_art.code)

import pandas as pd
assets = pd.read_csv("../tests/ames_train_cleaned.csv")
neighbothood_area_mean = assets[["Neighborhood", "Lot_Area"]].groupby("Neighborhood").mean()

In [6]:
neighbor_area_df = neighbor_area_art.value
neighbor_area_df

import pandas as pd
assets = pd.read_csv("../tests/ames_train_cleaned.csv")
neighbothood_area_mean = assets[["Neighborhood", "Lot_Area"]].groupby("Neighborhood").mean()

                  Lot_Area
Neighborhood
Blmngtn        3411.913043
Blueste        2264.000000
BrDale         1846.100000
BrkSide        6942.391892
ClearCr       23686.424242
CollgCr        9968.917582
Crawfor       11700.287500
Edwards        9974.300000
Gilbert       11333.046729
Greens         3887.000000
GrnHill        9001.000000
IDOTRR         9101.109375
MeadowV        2011.333333
Mitchel       11717.797297
NAmes         10140.675585
NPkVill        2941.500000
NWAmes        11422.988636
NoRidge       12811.823529
NridgHt       11064.500000
OldTown        8332.319277
SWISU          7675.312500
Sawyer        10182.431034
SawyerW        9869.000000
Somerst        7613.260504
StoneBr       12247.964286
Timber        18456.630435
Veenker       13825.500000

In [7]:
s = neighbor_area_df['Lot_Area'].sum()
s

import pandas as pd
assets = pd.read_csv("../tests/ames_train_cleaned.csv")
neighbothood_area_mean = assets[["Neighborhood", "Lot_Area"]].groupby("Neighborhood").mean()

253429.526782164

In [8]:
print(lineapy.save(s, "sum").code)

import pandas as pd
assets = pd.read_csv("../tests/ames_train_cleaned.csv")
neighbothood_area_mean = assets[["Neighborhood", "Lot_Area"]].groupby("Neighborhood").mean()

import lineapy
neighbor_area_art = lineapy.get("neighbothood_area_mean")
neighbor_area_df = neighbor_area_art.value
s = neighbor_area_df['Lot_Area'].sum()